.notice:has(.success) {
	color: var(--text-success);
	background-color: rgba(var(--background-modifier-success-rgb), 0.2);
}

.notice:has(.error) {
	color: var(--text-error);
	background-color: rgba(var(--background-modifier-error-rgb), 0.2);
}

.batch-properties .is-invalid input {
	border-color: var(--text-error);
	box-shadow: none;
}

.batch-properties input {
	font-family: var(--font-monospace);
}

.batch-properties textarea {
	width: 100%;
	resize: vertical;
	min-height: 8em;
	font-family: var(--font-monospace);
}

.batch-properties h2.updated {
	margin-bottom: 0 !important;
	font-size: 1.5rem;
	color: var(--text-success);
}

.batch-properties ul {
	margin-top: 0;
}

.batch-properties h2.error {
	margin-bottom: 0 !important;
	color: var(--text-error);
	font-size: 1.5rem;
}

.batch-properties h2.created {
	margin-bottom: 0 !important;
	font-size: 1.5rem;
	color: var(--text-warning);
}

.batch-properties.modal-title {
	text-align: center;
}
