.notice:has(.success) {
	color: var(--text-success);
	background-color: rgba(var(--background-modifier-success-rgb), 0.2);
}

.notice:has(.error) {
	color: var(--text-error);
	background-color: rgba(var(--background-modifier-error-rgb), 0.2);
}

.batch-properties .is-invalid input {
	border-color: var(--text-error);
	box-shadow: none;
}

.batch-properties textarea {
	width: 100%;
	resize: vertical;
	min-height: 8em;
}
